@{
    ViewBag.Title = "À propos";
}
<h2>@ViewBag.Title</h2>

<p>
    Ce site web est un site de gestions de gamers (des personnes qui jouent à des jeux vidéo). 
    Il permet de voir qui joue à quel jeu et que jeu est joué par qui. 
</p>
