@{
    ViewBag.Title = "Auteurs";
}
<h2>@ViewBag.Title</h2>

<address>
    Étudiants du CEGEP Lionel-Groulx<br />
    <br />
    Fait par: <br />
    <strong>Alexandre-Xavier Labonté-Lamoureux (</strong><a href="mailto:alexandrexavier@live.ca">alexandrexavier@live.ca</a><strong>)</strong> <br />
    <strong>Andy Sergerie (</strong><a href="mailto:andysergerie17@hotmail.fr">andysergerie17@hotmail.fr</a><strong>)</strong>
</address>